[*.{kt,kts}]
charset = utf-8
max_line_length = 150
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

ktlint_code_style = ktlint_official
ktlint_standard_function-naming = disabled
